@import "../../../../styles/colors.scss";

.image {
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h3 {
  color: $primary-color-1;
  font-weight: bold;
}

// h5 {
//   margin-top: 15px;
// }

.data-ricetta {
  text-align: right;
}

.contenitore-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;

  button {
    background-color: $primary-color-1;
    color: white;
    height: 40px;
    width: 120px;
  }
}


