@import "../../../styles/colors.scss";

header {

  .logo {
    width: 60px;
    margin-right: 10px;
  }

  .bg-red {
    background-color: $primary-color-1!important;
  }

  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
  }

  // .nav-item {
  //   margin-right: 5px;
  // }

  .details-login {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    flex-direction: row;
    color: white;
    list-style-type: none;

    li {
      margin-right: 5px;
    }
  }
}
