<div *ngIf="recipes$ | async as recipess">
  <div class="paginatore" *ngIf="pag == 'ricette'">
    <p-paginator (onPageChange)="paginate($event)" [rows]="ricettePerPagina" [totalRecords]="recipes.length"></p-paginator>
  </div>

  <!-- Tutte le cards viste solamente da admin -->
  <div class="container-card" *ngFor="let recipe of recipess | slice: (page * ricettePerPagina) - ricettePerPagina : page * ricettePerPagina">
    <div class="card" *ngIf="ruolo ==='admin'">
      <div class="card-image" [ngStyle]="{'background-image': 'url(' + recipe.image + ')'}"></div>
      <div class="card-body">
        <h5 class="card-title">{{recipe.title | uppercase}}</h5>
        <p class="card-text">{{recipe.description | slice: 0:accorciaTesto(recipe.description)}}...</p>

        <a routerLink="/ricette/dettaglio/{{recipe.title}}/{{recipe._id}}" class="btn btn-primary">Visualizza</a>
        <i class="pi pi-trash" style="cursor: pointer" *ngIf="ruolo === 'admin'"></i>

      </div>
    </div>

    <!-- Solo cards con published true viste da user -->
    <div class="card" *ngIf="ruolo === 'user' && recipe.published == true">
      <div class="card-image" [ngStyle]="{'background-image': 'url(' + recipe.image + ')'}"></div>
      <div class="card-body">
        <h5 class="card-title">{{recipe.title | uppercase}}</h5>
        <p class="card-text">{{recipe.description | slice: 0:accorciaTesto(recipe.description)}}...</p>

        <a routerLink="/ricette/dettaglio/{{recipe.title}}/{{recipe._id}}" class="btn btn-primary">Visualizza</a>
        <i class="pi pi-trash" style="cursor: pointer" *ngIf="ruolo === 'admin'"></i>

      </div>
    </div>
  </div>
</div>


