<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-red">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/images/icona-cibando.png" class="logo" [alt]="label"> Cibando</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><i class="pi pi-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="pi pi-book"></i> Ricette</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="pi pi-user"></i> Contatti</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<ngb-carousel *ngIf="images.length > 1">
	<ng-template ngbSlide *ngFor="let image of images">
		<div class="picsum-img-wrapper">
			<img [src]="percorso + image.id + '.jpg'" [alt]="image.label" />
		</div>
		<div class="carousel-caption">
			<h3>{{image.label}}</h3>
		</div>
    </ng-template>

  <div *ngIf="images.length == 1">
    <img [src]="percorso + images[0].id + '.jpg'" [alt]="images[0].label" />
  </div>

</ngb-carousel>

<div class="container-title">
  <h2>App di Esempio di {{nome}}</h2>
  <p class="paragrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Eveniet, voluptas obcaecati dolorum excepturi quis repudiandae dolore ratione vel quia ipsam
     , itaque, unde quasi corporis quisquam provident laudantium nihil aspernatur amet.</p>
</div>

<div>
  <ul *ngIf="allievi.length > 0">
      <li>Allo stato attuale ci sono {{allievi.length}} allievi</li>
      <li *ngFor="let allievo of allievi">Nome:{{allievo.nome}} , Cognome:{{allievo.cognome}} , Età:{{allievo.eta}} </li>
  </ul>
  <div *ngIf="allievi.length == 0">Ancora non ci sono allievi</div>
</div>

<router-outlet></router-outlet>
