<!-- <section class="vh-100 bg-image"
  style="background-image: url('../../../assets/images/imageBg-2.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-center mb-5">Nuova Ricetta</h2>

              <form>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg"><i class="pi pi-book"></i> Nome Ricetta</label>
                </div>

                <div class="form">
                  <div class="form-outline">
                    <input type="url" id="typeURL" class="form-control" />
                    <label class="form-label" for="typeURL"><i class="pi pi-image"></i> URL Immagine</label>
                  </div>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Invia</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<!-- <ng-template [ngIf]="">
  <div class="background">
    <div class="contenitore-reg">
      <h3>Ecco il riepilogo dei tuoi dati:</h3>
      <div class="paragrafo">
        <p>Nome ricetta: <strong>{{}}</strong></p>
        <p>URL immagine: <strong>{{}}</strong></p>
      </div>
      <div class="button-bg">
        <button class="button" (click)="closeModal()">CHIUDI</button>
      </div>
    </div>
  </div>
</ng-template> -->

<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Nuova Ricetta</p>

                <form class="mx-1 mx-md-4" [formGroup]="form" (ngSubmit)="onSubmit()">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="title" name="title" formControlName="title" class="form-control" />
                      <label class="form-label" for="form3Example1c"><i class="pi pi-book"></i> Nome Ricetta</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="description" name="description" formControlName="description" class="form-control" />
                      <label class="form-label" for="form3Example3c"><i class="pi pi-image"></i> Descrizione</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <input type="url" id="image" name="image" formControlName="image" class="form-control" />
                      <label class="form-label" for="form3Example3c"><i class="pi pi-image"></i> URL Immagine</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="difficulty" name="difficulty" formControlName="difficulty" class="form-control" />
                      <label class="form-label" for="form3Example3c"><i class="pi pi-image"></i> Difficoltà</label>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="published" formControlName="published" name="published" />
                    <label class="form-check-label" for="accetto">
                      Pubblica
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Crea</button>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #modalNewRecipe let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <h2>Sei sicuro di creare la nuova ricetta?</h2>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" aria-label="cancel" (click)="modal.dismiss()">
      ANNULLA</button>
    <button type="button" class="btn btn-primary" aria-label="action" (click)="modal.close()">
      CONTINUA
    </button>
  </div>
</ng-template>
